.container {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.toggleContainer {
    display: inline-flex;
    padding: 8px;
    align-items: flex-start;
    gap: 16px;
}

.toggleBackground {
    border-radius: 221px;
    background: var(--gray-50, #F4F4F4);
}